/**
			CSS für three.js Spiel
				Spacetacular
			von Stefanie Zahn
**/


body {
	margin: 0;
	background-color: #000;
	font-family: sans-serif;
}

canvas {
	padding 0;
	margin: auto;
	display: block;
	position: relative;
}

.screen {
	color: #fff;
	position: absolute;
	z-index: 999;
}

#score {
	top: 0px;
	right: 20px;
	position: absolute;
	z-index: 9999;
	font-size: 1.5rem;
}

#title {
top: 20%;
text-align: center;
width: 100%;
display: block;
font-size: 3.5rem;
text-transform: uppercase;
}

#highscore {
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
}

#instruction {
	left: 20%;
	top: 31%;
}

#start {
	color: #fff;
	border-radius: 0.2rem;
	border: 0.2rem solid #b32424;
	position: absolute;
	z-index: 9999;
	width: 8.2em;
	text-align: center;
	top:70%;
	font-size: 3rem;
	left: 36%;
	background-color: rgba(179, 36, 36, 0.7);
	cursor: pointer;
}

#gameOver {
	color: red;
	width: 100%;
	text-align: center;
	font-size: 6rem;
	top: 40%;
	display: none;
	z-index: 9999;
	position: absolute;
}
